body {
  background-color: #fcf6f5;
  min-height: 100vh;
  margin: 0;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
}

#navbar {
  height: 60px;
  min-width: 60px;
  background-color: #f7f3f2;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  top: 0;
}

.container,
.mealBtnContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
  padding-top: 1rem;
}

#homeBtn {
  background-color: #990011;
  border-radius: 20px;
  color: #fcf6f5;
  font-weight: bold;
  font-size: larger;
  border: none;
  box-shadow: 0px 2px 7px black;
  height: 35px;
  width: 100px;
  text-align: center;
}

.btn,
.mealBtn {
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0px 8px 20px black;
  width: 180px;
  max-width: 180px;
  height: 90px;
  margin-top: 15px;
  background-color: #990011;
  color: #fcf6f5;
  font-weight: bold;
  font-size: larger;
  transition: transform 0.7s cubic-bezier(0.99, 1.82, 0.46, 1.16);
}

.btn:hover,
.mealBtn:hover {
  background-color: #e53e52;
}

#monday,
#breakfastBtn {
  animation: flyInLeft 0.8s cubic-bezier(0.45, 1.48, 0.58, 1) 0.3s forwards;
  transform: translateX(-80px);
}

#tuesday,
#lunchBtn {
  animation: flyInRight 0.8s cubic-bezier(0.45, 1.48, 0.58, 1) 0.6s forwards;
  transform: translateX(80px);
}

#wednesday,
#dinnerBtn {
  animation: flyInLeft 0.8s cubic-bezier(0.45, 1.48, 0.58, 1) 0.8s forwards;
  transform: translateX(-80px);
}
#thursday {
  animation: flyInRight 0.8s cubic-bezier(0.45, 1.48, 0.58, 1) 1.2s forwards;
  transform: translateX(80px);
}
#friday {
  animation: flyInLeft 0.8s cubic-bezier(0.45, 1.48, 0.58, 1) 1.5s forwards;
  transform: translateX(-80px);
}
#saturday {
  animation: flyInRight 0.8s cubic-bezier(0.45, 1.48, 0.58, 1) 1.8s forwards;
  transform: translateX(80px);
}

#sunday {
  animation: flyInLeft 0.8s cubic-bezier(0.45, 1.48, 0.58, 1) 2.1s forwards;
  transform: translateX(-80px);
}

@keyframes flyInLeft {
  0% {
    opacity: 0;
    transform: translateX(-150%);
  }

  100% {
    opacity: 1;
    transform: translateX(-80px);
  }
}

@keyframes flyInRight {
  0% {
    opacity: 0;
    transform: translateX(150%);
  }
  50% {
    opacity: 30;
  }
  100% {
    opacity: 1;
    transform: translateX(80px);
  }
}

@keyframes slideOutLeft {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-100%);
  }
}

@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  70% {
    opacity: 75%;
  }
  100% {
    opacity: 100%;
    transform: translateX(0);
  }
}

.slide-out-left {
  animation: slideOutLeft 0.8s cubic-bezier(0.45, 1.48, 0.58, 1) forwards;
}

.slide-in-right {
  animation: slideInFromRight 1s cubic-bezier(0.45, 1.48, 0.58, 1) forwards;
}

.mainDish {
  border-radius: 25px;
  width: 100%;
  max-width: 100%;
}
.sideDish {
  border-radius: 25px;
  width: 30%;
  max-width: 30%;
}

#breakfastMeal,
#lunchMeal,
#dinnerMeal {
  display: none;
  /* transform: translateX(0); */
  transition: transform cubic-bezier(0.99, 1.82, 0.46, 1.16);
}
